<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infosoul.mserver.repository.mybatis.airm.ISensorDao">

    <resultMap id="sensorMap" type="sensor">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="serial_num" property="serialNum"/>
    </resultMap>

    <!-- 通过id获取 -->
    <select id="findById" parameterType="String" resultMap="sensorMap">
        SELECT
          *
        from
          airm_sensor AS a
        WHERE
          a.id = #{id}
    </select>

    <!-- 设备列表 -->
    <select id="findList" resultMap="sensorMap" parameterType="sensor">
      SELECT
        *
      FROM
        airm_sensor AS a
      WHERE
        del_flag = '0'
        <if test="name != null and name !=''">
            AND a.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="page.orderBy !=null and page.orderBy!=''">
            ORDER BY ${page.orderBy}
        </if>
    </select>

    <!-- 所有传感器 -->
    <select id="findAll" resultMap="sensorMap" parameterType="sensor">
        SELECT
          *
        FROM
          airm_sensor
        WHERE
          del_flag = '0'
    </select>

    <!-- 保存 -->
    <insert id="save" parameterType="sensor">
        INSERT INTO airm_sensor
          (id,
          name,
          serial_num,
          create_date
          )
        VALUES
          (#{id},
          #{name},
          #{serialNum},
          now()
          )
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="sensor">
        UPDATE airm_sensor
        SET
          name = #{name},
          serial_num = #{serialNum}
        where
          id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="string">
        UPDATE airm_sensor
        SET del_flag = '1'
        WHERE
        id = #{id}
    </delete>
</mapper>
